body {
    background-color: #f8f9fa;
}

.form-container {
    max-width: 800px;
    background: white;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
}

h2 {
    font-weight: bold;
}

.form-label {
    font-weight: 600;
}

.form-control, .form-select {
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    font-size: 18px;
    padding: 12px;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.payroll-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    padding: 0 20px;
}

.logo-left,
.logo-right {
    height: 80px; /* Adjust size as needed */
    width: auto;
}

.logo-right-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

